[Desktop Entry]
Type=Application
Name=Dot Matrix
Comment=Project compositor with git versioning
Exec=dmxgui
Icon=dotmatrix-icon
Terminal=false
Categories=Utility;System;
Keywords=dotfiles;backup;config;versioning;git;
StartupWMClass=ac.arf.dev.dotmatrix
