#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export CARGO_HOME = $(CURDIR)/debian/cargo_home

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 755 target/release/dotmatrix $(CURDIR)/debian/dotmatrix/usr/bin/dotmatrix
	install -D -m 755 target/release/dmgui $(CURDIR)/debian/dotmatrix/usr/bin/dmgui
	install -D -m 644 dotmatrix.1 $(CURDIR)/debian/dotmatrix/usr/share/man/man1/dotmatrix.1
	install -D -m 644 dotmatrix.desktop $(CURDIR)/debian/dotmatrix/usr/share/applications/dotmatrix.desktop
	install -D -m 644 assets/dotmatrix-icon-128.png $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/128x128/apps/dotmatrix-icon.png
	install -D -m 644 assets/dotmatrix-icon-256.png $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/256x256/apps/dotmatrix-icon.png
	install -D -m 644 assets/dotmatrix-icon-64.png $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/64x64/apps/dotmatrix-icon.png
	install -D -m 644 assets/dotmatrix-icon-48.png $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/48x48/apps/dotmatrix-icon.png
	install -D -m 644 assets/dotmatrix-icon-32.png $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/32x32/apps/dotmatrix-icon.png
	install -D -m 644 assets/dotmatrix-icon.svg $(CURDIR)/debian/dotmatrix/usr/share/icons/hicolor/scalable/apps/dotmatrix-icon.svg

override_dh_auto_test:
	cargo test

override_dh_auto_clean:
	cargo clean || true
	rm -rf $(CARGO_HOME)
